.projects {
    padding: 3% 10%;
}

article {
  padding: 2%;
   /* border: 2px solid var(--hillsgreen);  */
}

.projects h4 {
    margin: 0;
    padding-right: 3%;
    font-size: 1rem;
    text-align: right;
    color: var(--lightYellow);
}

.projects h3 {
    text-align: right;
    font-weight: bold;
}

.projects p {
  font-size: 1.1rem;
  text-align: justify;
}

.skills > span {
    font-family:'Times New Roman', Times, serif;
    font-size: 1.25rem;
    color: var(--lightRed);
}

.skills > strong {
    color: var(--white);
}

.meta {
    display: flex;
    justify-content: space-between;
    align-content: start;
    /* border: 2px solid red; */
}

.gh {
    /* border: 2px solid yellow; */
    display: inline;
    padding: 1% 0;
    font-size: 1.25rem;
}